* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
header {
  display: absolute;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
}
header img {
  max-width: 200px;
}

img {
  width: 100%;
  margin: auto;
}

footer {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  background: #fff;
}
footer a {
  text-decoration: none;
  color: #111;
}

.introduction {
  &.hide {
    display: none;
  }

  display: block;
  margin: auto;
  height: 100vh;
  background: url(../../img/mvc1.jpg) no-repeat fixed;
  background-size: cover;
  a {
    margin: auto;
  }
  img {
    margin: 1rem auto 0;
    max-width: 300px;
  }
  h1 {
    margin: 19rem auto 0;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background: #ffffffc7;
    border-radius: 1%;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.selectContainer {
  display: none;
  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  &.active {
    display: block;
  }
}

.container {
  background: linear-gradient(#210032, #200030);
}

.upcontainer {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  overflow: hidden;
  max-width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 4% 0;
  background: url(../../img/galaxy.gif) no-repeat fixed;
  background-size: cover;

  .imgS {
    margin: auto;
    margin-left: 1rem;
    display: block;
    justify-content: center;
    width: 100%;
    text-align: center;

    .characterContainer {
      position: relative;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .gifContainer {
      // height: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 300px;
        object-fit: contain;
        max-width: 350px;
      }
    }

    figcaption {
      padding: 0.5rem;
      font-size: 1.6rem;
      color: aliceblue;
      font-family: cursive;
      text-transform: uppercase;
      margin: 1rem auto;
      background: #111;
      border: 1px solid #fff;
      max-width: 200px;
      text-align: center;
      box-sizing: border-box;
      display: none;

      @media (max-width:1261.99px) {
        position: absolute;
        bottom: -1rem;
        right: 50%;
        transform: translate(50%,-50%);
      }
    }
  }
}

.face {
  width: 100%;
  height: 100%;
  max-width: 490px;
  margin: 10% auto 0;

  @media (max-width: 1261.99px) {
    height: 600px;
  }

  @media (min-width: 1261.99px) {
    margin: auto;
  }
}

.selection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 540px;
  background: #fecc00;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: auto;

  img {
    max-width: 61px;
    padding: 0.1rem 0.26rem;
    box-sizing: border-box;

    @media (min-width: 820.999px) {
      max-width: 173px;
    }
  }
}

@media (max-width: 1262px) {
  .upcontainer {
    overflow: hidden;
    display: block;
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 820px) {
  .selection {
    width: 100%;
    max-width: 365px;
  }
}
@media (max-width: 341px) {
  .upcontainer {
    overflow: hidden;
    grid-template-columns: 1fr;
  }
  .selection {
    width: 100%;
    max-width: 200px;
  }
}

.con {
  display: grid;
  align-items: center;
  justify-content: center;
}
