<audio src="audio/mvc_character_selec1.mp3" autoplay>
  Your browser does not support the audio element.
</audio>
<!--
<audio src="audio/seleheroes.wav" autoplay>
	Your browser does not support the audio element.
</audio>
-->

<div class="container">
  <div class="upcontainer">
    <section class="imgS">
      <figure>
        <div id="img"></div>
        <span id="som"></span>
        <span id="coin"></span>
        <figcaption>
          <p id="p">Something</p>
        </figcaption>
      </figure>
    </section>
    <section class="selection">
      <a href="javascript:void(0)" class="characterSelect" id="chunli">
        <img src="img/select_screeen/chunli_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="ryu">
        <img src="img/select_screeen/ryu_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="zangif">
        <img src="img/select_screeen/zangif_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="morrigan">
        <img src="img/select_screeen/morrigan_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="comando">
        <img src="img/select_screeen/comando_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="megaman">
        <img src="img/select_screeen/megaman_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="strider">
        <img src="img/select_screeen/strider_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="spiderman">
        <img src="img/select_screeen/spiderman_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="jin">
        <img src="img/select_screeen/jin_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="america">
        <img src="img/select_screeen/america_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="venom">
        <img src="img/select_screeen/venoom_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="hulk">
        <img src="img/select_screeen/hulk_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="gambit">
        <img src="img/select_screeen/gambit_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="warmachine">
        <img src="img/select_screeen/warmachine_mini.png" />
      </a>
      <a href="javascript:void(0)" class="characterSelect" id="wolverine">
        <img src="img/select_screeen/wolverine_mini.png" />
      </a>
    </section>

    <section class="face" class="characterSelect" id="face"></section>

    <script src="js/selecao.js"></script>
  </div>
</div>
