
<audio src="model/audio/mvc_character_selec1.mp3" autoplay>
	Your browser does not support the audio element.
</audio>
<!--
<audio src="model/audio/seleheroes.wav" autoplay>
	Your browser does not support the audio element.
</audio>
-->

<div class=container>
	<div class="upcontainer">
		<section class="imgS">
			<figure>
				<div id="img"></div>
				<span id="som"></span>
				<span id="coin"></span>
				<figcaption>
					<p id="p">Something</p>
				</figcaption>
			</figure>
		</section>
		<section class="selection">
			<a href="javascript:void(0)" id="chunli">
				<img src="model/img/select_screeen/chunli_mini.png">
			</a>
			<a href="javascript:void(0)" id="ryu">
				<img src="model/img/select_screeen/ryu_mini.png">
			</a>
			<a href="javascript:void(0)" id="zangif">
				<img src="model/img/select_screeen/zangif_mini.png">
			</a>
			<a href="javascript:void(0)" id="morrigan">
				<img src="model/img/select_screeen/morrigan_mini.png">
			</a>
			<a href="javascript:void(0)" id="comando">
				<img src="model/img/select_screeen/comando_mini.png">
			</a>
			<a href="javascript:void(0)" id="megaman">
				<img src="model/img/select_screeen/megaman_mini.png">
			</a>
			<a href="javascript:void(0)" id="strider">
				<img src="model/img/select_screeen/strider_mini.png">
			</a>
			<a href="javascript:void(0)" id="spiderman">
				<img src="model/img/select_screeen/spiderman_mini.png">
			</a>
			<a href="javascript:void(0)" id="jin">
				<img src="model/img/select_screeen/jin_mini.png">
			</a>
			<a href="javascript:void(0)" id="america">
				<img src="model/img/select_screeen/america_mini.png">
			</a>
			<a href="javascript:void(0)" id="venom">
				<img src="model/img/select_screeen/venoom_mini.png">
			</a>
			<a href="javascript:void(0)" id="hulk">
				<img src="model/img/select_screeen/hulk_mini.png">
			</a>
			<a href="javascript:void(0)" id="gambit">
				<img src="model/img/select_screeen/gambit_mini.png">
			</a>
			<a href="javascript:void(0)" id="warmachine">
				<img src="model/img/select_screeen/warmachine_mini.png">
			</a>
			<a href="javascript:void(0)" id="wolverine">
				<img src="model/img/select_screeen/wolverine_mini.png">
			</a>
		</section>

		<section class="face" id="face">
		</section>

		<script src="model/js/selecao.js"></script>
	</div>
</div>
